.xg_module_body img {margin:0!important;}

@font-face {
    font-family: 'icomoon';
    src:url('../Icons/icomoon.eot');
    src:url('../Icons/icomoon.eot?#iefix') format('embedded-opentype'),
        url('../Icons/icomoon.woff') format('woff'),
        url('../Icons/icomoon.ttf') format('truetype'),
        url('../Icons/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

#top{
width:100%;
height:195px;
background-color:black;
}

#booking{
width:100%;
margin-left:0;
margin-right:0;
margin:0;
padding:0;
height:30px;
background:blue;
margin-top:50px;
}

#booking:hover
{
cursor:pointer;
}

#topStyle{
width:70%;
height:100%;
background-color:black;
margin-left:15%;
}

#logo{
width:330px;
height:220px;
background-color:blue;
}

#bignester
{
height:100%;
width:100%;
}

#body{
width:70%;
height:1300px;
margin-left:15%;
}

#bottom{
width:100%;
height:350px;
background-color:black;
}

#slideshow{
width:100%;
margin-top:2%;
height:400px;
}
:required:focus {
  box-shadow: 0  0 3px rgba(255,0,0,0.5); 
}

#extrainfo
{
height:100px;
}

td
{
text-align:center;
}

#slideshow2{
width:100%;
margin-top:2%;
height:60%;
}

body {
background-image:url("../Pictures/bp3.jpg")
}

#icons{
margin-top:15px; 
margin-bottom:10px; 
float:right;
}

#table{
width:170px; 
}

#picWrapper{
width:100%;
margin-top:3.5%;
height:70px;
}
#submiter:hover
{
background:green;
color:black;
}

#reseter:hover
{
    background: red;
    color: black;
}

button
{
margin-top:20px;
}

#picWrapper2{
width:100%;
margin-top:50px;
height:70px;
border-bottom:white 2px solid;
text-align:center;
float:left;
margin-bottom:30px;
}
h1
{
color:white;

}


abel { 
    display:block;
    margin:20px;
    width:420px;
    overflow:auto;
    font-family:sans-serif;
    font-size:20px;
    color:#444;
    text-shadow:0 0 2px #ddd;
    padding:20px 10px 10px 0;
}

input {
    float:right;
    width:200px;
    border:2px solid #dadada;
    border-radius:7px;
    font-size:20px;
    padding:5px;
    margin-top:-10px;    
}

input:focus { 
    outline:none;
    border-color:#9ecaed;
    box-shadow:0 0 10px #9ecaed;
}

#bigsizer
{
height:150px;
}

form
{
width:200px;
margin: 0 auto;
height:10px;
color:white;
}

#textarea
{
width:100%;
height:60%;
float:right;
}

li.tick:before
 {
    content: '✔';   
    margin-left: -1em; margin-right: .100em;
	color:green;
 }

 ul.list
{
   padding-left:20px;
   text-indent:2px;
   list-style: none;
   list-style-position:outside;
   color:white;
}

#pic1, #pic2, #pic3, #pic4{
width:22%;
height:175px;
}

#pic1, #picWrapper, #slideshow2, #logo, #slideshow, #pic4, #filler2, #filler3, #spacer, #home, #pricelist, #events, #location, #contactus, #secondspacer, #imageholder, #bh, #bl, #bc, #be
{
float:left
}

#pic2, #realss, #filler, #pic3
{
float:right;
}

#pic3{
margin-right:4%;
}

#pic4{
margin-left:4%;
}

p
{
color:white;
}

#realss{
height:500px;
width:100%;
float:left;


}
iframe
{
float:left;
margin-top:0;
border-width:0;
width:100%; 
height:500px; 
}
form
{
margin: 0 auto;
}

#realss2{
height:520px;
width:100%;
margin-left:0;
margin-right:0;
margin-top:80px;

}


#filler{
height:5%;
width:100%;
}

#filler2{
height:70%;
width:60%;
background-color:black
}

h3, h4, h5, h2
{
color:white;
text-align: center;
}

#filler3{
height:30%;
width:60%;
margin-top:-30px;
}

#spacer{
height:100%;
width:15%;
}

#home, #pricelist, #events, #location, #contactus{
width:16.5%;
height:100%;
background-color:black;
text-align: center;
}


 #contactus, #pricelist, #events, #location
 {
border-left: solid 1px;
border-left-color:white;
}

 #contactus:hover h3, #pricelist:hover h3, #events:hover h3, #location:hover h3, #h2:hover h3
{
color:#808080;
}

div.clickable
{
position:relative;
}

div.clickable a
{
position:absolute;
width:100%;
height:100%;
top:0;
left:0;
text-decoration:none;
z-index:10;
background-color:blue;
opacity:0;

}
table, form,input 
{
float:left;
}
#calside
{
height: 435px;
width:400px;
float:right;
}

#h{
color:#808080;
}

#imageholder
{
width:100%;
height:50%;
margin-top:90px;
}

#bottomstyle{
width:70%;
height:250px;
margin-left:15%;
}

#bh, #bl, #bc, #be
{
height:100%;
width:25%;
}

.sb-search {
    position: relative;
    margin-top: 10px;
    width: 0%;
    min-width: 60px;
    height: 60px;
    float: right;
    overflow: hidden;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;

    -webkit-backface-visibility: hidden;
}

.sb-search-input {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    outline: none;
    background: #fff;
    width: 100%;
    height: 60px;
    margin: 0;
    z-index: 10;
    padding: 20px 65px 20px 20px;
    font-family: inherit;
    font-size: 20px;
    color: #2c3e50;
}
 
input[type="search"].sb-search-input {
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
}



.sb-icon-search,
.sb-search-submit  {
    width: 60px;
    height: 60px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    margin: 0;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
}

.sb-search-submit {
    background: #fff; /* IE needs this */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
    opacity: 0;
    color: transparent;
    border: none;
    outline: none;
    z-index: -1;
}

.sb-icon-search {
    color: #fff;
    background: #e67e22;
    z-index: 90;
    font-size: 22px;
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
}

.sb-search.sb-search-open, .no-js .sb-search 
{
 width: 100%;
}

.sb-search.sb-search-open .sb-icon-search,
.no-js .sb-search .sb-icon-search {
    background: #da6d0d;
    color: #fff;
    z-index: 11;
}

.sb-search.sb-search-open .sb-search-submit,
.no-js .sb-search .sb-search-submit {
    z-index: 90;
}


/* -----------------------------
    Handles th nav bar 
   ------------------------------ */
 

/*body{
    padding: 200px 0 0;
    font:14px/1.3 'Segoe UI',Arial, sans-serif;
    min-height:200px;*/
}

a, a:visited {
    text-decoration:none;
    outline:none;
    color:#54a6de;
}

a:hover{
    text-decoration:underline;
}

 nav{
    display:block;
    position:relative;
    top:0px;
    left:0px;

}


/*----------------------------
    The Navigation Menu
-----------------------------*/


#colorNav > ul{
    width: 100%; /*width of ul */
    margin:0 auto;
     position:relative;
    margin-top:50px;
}

#colorNav > ul > li{ /* styles the top level li*/
    list-style: none;
    box-shadow:   10px rgba(100, 100, 100, 0.2) inset,1px 1px 1px #CCC;
    display: inline-block;
    line-height: 1;
    margin: 1px;
    border-radius:3px;
    position:relative;
    text-align:center;
    width: 85px;
    left:0px;text-align:center;
    border-style: 8px solid;
    border-color: blue;




}

#colorNav > ul > li > a{
    color:inherit;
    text-decoration:none !important;
    font-size:25px;
    padding: 0px;
    text-align:center;
    border-style: 2px solid;
    border-color: blue;


}

#colorNav li ul{
    position:absolute;
    list-style:none;
    text-align:center;
    width:150px;
    left:70%;
    margin-left:-90px;
    top:10px;
    font:bold 12px 'Open Sans Condensed', sans-serif;


    
    /* Stops the child elements from there postioning acting strangly due to the display;;inline-block */
    max-height:0px;
    overflow:hidden;
    
    -webkit-transition:max-height 0.4s linear;
    -moz-transition:max-height 0.4s linear;
    transition:max-height 0.4s linear;
}

#colorNav li ul li{
    background-color:#313131;


}

#colorNav li ul li a{
    padding:12px;
    color:#fff !important;
    text-decoration:none !important;
    display:block;
}

#colorNav li ul li:nth-child(odd){ /* zebra stripes */
    background-color:#36363;
}

#colorNav li ul li:hover{
    background-color:#444;
}

#colorNav li ul li:first-child{
    border-radius:3px 3px 0 0;
    margin-top:25px;
    position:relative;
}

#colorNav li ul li:first-child:before{ /* the pointer tip */
    content:'';
    position:absolute;
    width:1px;
    height:1px;
    border:5px solid transparent;
    border-bottom-color:#313131;
    left:50%;
    top:-10px;
    margin-left:-5px;
}
/* rounds of the nav bar elemnts*/
#colorNav li ul li:last-child{
    border-bottom-left-radius:3px;
    border-bottom-right-radius:3px;
}

/* This will trigger the CSS */
/* transition animation on hover */

#colorNav li:hover ul{
    max-height:200px; /* Increase when adding more dropdown items */
}

/* Handles the nav bar by hiding the span tags untill they are hoover over in which then the span tags are displayed to right using abouslote */
nav ul li a span {
                    font: 25px "Dosis", sans-serif; text-transform: uppercase; 
                    display: none;
                    text-shadow: 2px 2px blue;
                }
                    nav li > a:hover span {
                        display: block;

                 }
/* the position in which they are displayed, They are coded like this to reduce the number of lines of code */
/* the position in which they are displayed, They are coded like this to reduce the number of lines of code */
nav  ul li.green span{ position:absolute; left: 458px; top: 0px;}
nav  ul li.red span{ position:absolute; left: 380px; top: 0px;}
nav  ul li.blue span{ position:absolute; left: 270px; top: 0px;}
nav  ul li.yellow span{ position:absolute; left: 215px; top: 0px;}
nav  ul li.purple span{ position:absolute; left: 110px; top: 0px;}

                    




/*----------------------------
    Color Themes
-----------------------------*/


#colorNav li.green{
    /* This is the color of the menu item */
    background-color:   #000000;
    
    /* This is the color of the icon */
    color:#FFFFFF;
;
}

#colorNav li.red{border-style: 10px solid;border-color: blue;background-color:#000000;color:#FFFFFF;}
#colorNav li.blue{background-color:#000000;color:#FFFFFF;}
#colorNav li.yellow{background-color:#000000;color: #FFFFFF;}
#colorNav li.purple{background-color:#000000;color:#FFFFFF;}
